  @font-face {
    font-family: 'font-content-bold';
    src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'font-content-light';
    src: url('../assets/fonts/Poppins-Light.ttf') format('truetype');
  }
  :root {
    --font-content-bold: 'font-content-bold', sans-serif;
    --font-content-light: 'font-content-light', sans-serif;

    --primary-color-1: #f12d2d;
    --primary-color-2: #992822;
    --primary-color-3: #545454;
    --primary-color-4: #f5f5f5;
  }
  body {
    font-family: var(--font-content-light);
  }
  a{
   text-decoration: none;
   color: white;
  }
  button{
    border: none;
    cursor: pointer;
    background: none;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
  }
  thead{
    background-color: var(--primary-color-2);
  } 
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  #Home{
    height: 500px;
  }
  #Proyectos{
    background-color: var(--primary-color-4);
  }
  #Servicios{
    background-color: white;
  }
  #Testimonios{
    background-color: var(--primary-color-1);
  }
  #contactos{
    background-color: var(--primary-color-4);
  }
  #Redes{
    background-color: var(--primary-color-2);
  }

  #ProyectoInformacion{
    background-color: var(--primary-color-4);
  }
  #ProyectoDescripcion{
    background-color: var(--primary-color-4);
  }
  #ProyectoDepartamentos{
    background-color: var(--primary-color-4);
  }
  /**********************************/
  /**********************************/
  /**********************************/
  .text-title{
    font-family: var(--font-content-bold);
    font-weight: bold;
    font-size: 2rem;
  }
  .text-content-bold{
    font-family: var(--font-content-bold);
    font-weight: bold;
    font-size: 1rem;
  }
  .text-content{
    font-family: var(--font-content-light);
    font-size: 1rem;
  }
  .text-space{
    margin-top: 15px;
    margin-bottom: 30px;
    width: 200px;
    height: 3px;
  }
  .red{
    background-color: var(--primary-color-1);
  }
  .white{
    background-color: white;
  }
  .black{
    background-color: var(--primary-color-3);
  }
  .text-red{
    color: var(--primary-color-1);
  }
  .text-white{
    color: white;
  }
  .text-black{
    color: var(--primary-color-3);
  }
  .btn{
    padding: 10px;
    border-radius: 5px;
  }
  /**********************************/
  /**********************************/
  /**********************************/
  .carousel{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary-color-2);
  }
  .slick-dots li.slick-active div {
    background: var(--primary-color-1);
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(-30px);
    }
    20% {
      transform: translateY(0);
    }
  } 
  .bounce {
    animation: bounce 5s infinite; /* 5s es la duración total de una iteración */
  }
  /**********************************/
  /**********************************/
  /**********************************/
  /* NAVBAR */
  .navbar{
    background-color: var(--primary-color-2);
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }
  .footer{
    background-color: var(--primary-color-3);
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }

  .navbar li a{
    cursor: pointer;
  }
  /**********************************/
  /**********************************/
  /**********************************/
  /* Nuestros proyectos */
  
  /**********************************/
  /**********************************/
  /**********************************/
  
  .card{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: -1px 10px 30px -4px rgba(0, 0, 0, 0.2)
  }
  .card-item{
    text-align: center;
    flex-grow: 1;
    flex-basis: 200px;
  }

  /***********/



  @media screen and (max-width: 1100px) {
    
  }
  @media screen and (max-width: 900px) {
    
  }
  @media screen and (max-width: 650px) {
    
  }

  