/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/****** VARIABLES *******/
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

  @font-face {
    font-family: 'font-content-bold';
    src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'font-content-regular';
    src: url('../assets/fonts/Poppins-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'font-principal-bold';
    src: url('../assets/fonts/Akira-Expanded-Super-Bold.otf') format('truetype');
  }
  @font-face {
    font-family: 'font-principal-regular';
    src: url('../assets/fonts/Myriad-Pro-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'font-secundario-bold';
    src: url('../assets/fonts/Rubik-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'font-secundario-regular';
    src: url('../assets/fonts/Rubik-Regular.ttf') format('truetype');
  }
  :root {
    --font-principal-bold: 'font-principal-bold', sans-serif;
    --font-principal-regular: 'font-principal-regular', sans-serif;
    --font-secundario-bold: 'font-secundario-bold', sans-serif;
    --font-secundario-regular: 'font-secundario-regular', sans-serif;
    --font-content-bold: 'font-content-bold', sans-serif;
    --font-content-light: 'font-content-light', sans-serif;
    --primary-color-1: #e21111;
    --primary-color-2: #af0000;
    --primary-color-7: #8a0000;
    --primary-color-3: #383838;
    --primary-color-4: #f5f5f5;
    --primary-color-5: #adadad;
    --primary-color-6: #ebebeb;
  }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/****** GENERALES *******/
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
  body {
    font-family: var(--font-content-light);
  }
  a{
   text-decoration: none;
   color: white;
  }
  button{
    border: none;
    cursor: pointer;
    background: none;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
  }
  thead{
    background-color: var(--primary-color-2);
  } 
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  select{
    padding: 5px;
    border-radius: 5px;
    border: solid 1px var(--primary-color-2);
    color: var(--primary-color-2);
    font-weight: bold;
    background-color: transparent;
  }
  input{
    all: unset;
    border-radius: 5px;
    border: solid 1px white;
  }
  input::placeholder{
    color: var(--primary-color-5);
  }
  div:focus{
    outline: none;
  }
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/****** DISEÑOS GENERALES *******/
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
  .sombra{
    filter: drop-shadow(3px 5px 5px rgba(0,0,0,0.30));
  }
  .text-size-1{
    font-size: 3rem;
  }
  .text-size-2{
    font-size: 2rem;
  }
  .text-size-3{
    font-size: 1.3rem;
  }
  .text-size-4{
    font-size: 0.9rem;
  }
  .text-size-5{
    font-size: 0.8rem;
  }
  .text-font-ligth{
    font-family: var(--font-content-light);
  }
  .text-font-bold{
    font-family: var(--font-content-bold);
  }
  .text-principal-regular{
    font-family: var(--font-principal-regular);
  }
  .text-principal-bold{
    font-family: var(--font-principal-bold);
  }
  .text-secundario-regular{
    font-family: var(--font-secundario-regular);
  }
  .text-secundario-bold{
    font-family: var(--font-secundario-bold);
  }
  .text-red{
    color: var(--primary-color-1);
  }
  .text-white{
    color: white;
  }
  .text-black{
    color: var(--primary-color-3);
  }
  .text-gray{
    color: var(--primary-color-5)
  }
  .red{
    background-color: var(--primary-color-1);
  }
  .dark-red{
    background-color: var(--primary-color-2);
  }
  .white{
    background-color: white;
  }
  .black{
    background-color: var(--primary-color-3);
  }
  .gray{
    background-color: var(--primary-color-5)
  }
  .gray-light{
    background-color: var(--primary-color-6)
  }
  .line-decorate{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .line-decorate div{
    margin-top: 15px;
    margin-bottom: 5%;
    width: 500px;
    height: 5px;
  }
  .btn{
    padding: 10px;
    border-radius: 10px;
  }
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/****** NAVBAR *******/
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
  .navbar{
    font-weight: bold;
  }
  .navbar-container ul li{
    position: relative;
    display: block;
    cursor: pointer;
    transition: 0.5s;
  }
  .navbar-container ul li .hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color: white;
  }
  .navbar-container ul li .hover:hover{
    color: white;
  }
  .navbar-container ul li .hover:hover::after{
    transform: scaleX(1);
    transform-origin: left;
  }
  .navbar-button{
    border: solid 1px white;
    border-radius: 10px;
    padding: 0.5em 1em 0.5em 1em;
    transition: 0.5s;
  }
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/****** SECTIONS *******/
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
  #InicioBanner{
    height: 550px;
  }
  #InicioProyectos{
    background-color: var(--primary-color-4);
  }
  #InicioProyectos img{
    height: 450px;
    width: 100%;
  }
  #InicioEquipo{
    background-color: white;
  }
  #InicioEquipo img{
    height: 500px;
    width: 100%;
    border-radius: 20px;
  }
  #InicioTestimonios{
    background-color: var(--primary-color-1);
  }
  #InicioTestimonios .carousel{
    width:100%;
    overflow: hidden;
  }
  #InicioContactos{
    background-color: var(--primary-color-4);
  }
  #InicioContactos .fa-solid{
    font-size: 4em !important;
  }
  /* |||||||||||||||||||||||||||||||||||||||||||||| */
  #FooterRedes{
    background-color: var(--primary-color-2);
  }
  #FooterCreditos{
    background-color: var(--primary-color-3);
    padding: 20px;
  }
  /* |||||||||||||||||||||||||||||||||||||||||||||| */
  #Whatsapp{
    position: fixed;
    bottom: 0;
    right: 0;
  }
  #Whatsapp img{
    width: 150px;
    height: 150px;
  }
  /* |||||||||||||||||||||||||||||||||||||||||||||| */
  #ProyectosLista{
    background-color: var(--primary-color-4);
  }
  #ProyectosLista img{
    width: 100%;
    height: 300px;
  }
  /* |||||||||||||||||||||||||||||||||||||||||||||| */
  #ProyectosInfoBanner{
    position: relative;
    background-size: cover;
    background-position: center;
  }
  #ProyectosInfoDescuento img{
    width: 100%;
  }
  /* |||||||||||||||||||||||||||||||||||||||||||||| */
  #ProyectosInfoFotos{
    background-color: var(--primary-color-4);
  }
  #ProyectosInfoFotos .foto{
    background-color: var(--primary-color-1);
    width: 100%;
    height: 350px;
    z-index: -1;
  }
  #ProyectosInfoFotos img{
    height: 350px;
  }
  #ProyectosInfoFotos a{
    display: block;
    position: relative;
    filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.25));
  }
  #ProyectosInfoFotos .titulo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.25));
  }
  #ProyectosInfoFotos .titulo label {
    text-align: center;
    padding: 10px;
  }
  #ProyectosInfoFotos a:hover img{
    opacity: 0.1;
    transition:  0.3s;
  }
  #ProyectosInfoFotos a:hover .titulo{
    opacity: 1;
  }
  /* |||||||||||||||||||||||||||||||||||||||||||||| */
  #ProyectosPromociones{
    background-color: var(--primary-color-1);
  }
  #ProyectosPromociones .carousel{
    width:100%;
    overflow: hidden;
  }
  #ProyectosBeneficios .fa-solid{
    font-size: 5em !important;
  }
  /* |||||||||||||||||||||||||||||||||||||||||||||| */
  #ProyectosUbicacion img,
  #ProyectosUbicacion iframe{
    height: 700px;
    width: 100%;
    border: none;
  }

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/****** PROYECTOS *******/
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
  .card{
    border-radius: 10px;
  }
  .card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .metraje{
    padding: 1px 8px 1px 8px;
    background-color: #d1d1d1;
    border-radius: 10px;
    white-space: nowrap;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .line-decorate-text{
    height: 3px;
    width: 100%;
  }

  /**********************************/
  /**********************************/
  /**********************************/

  .carousel-dots{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary-color-7);
  }
  .carousel-img{
    height: 550px;
  }
  .slick-dots li.slick-active div {
    background: var(--primary-color-1);
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(-30px);
    }
    20% {
      transform: translateY(0);
    }
  } 
  .bounce {
    animation: bounce 5s infinite; /* 5s es la duración total de una iteración */
  }
  /**********************************/
  /**********************************/
  /**********************************/

  @media screen and (max-width: 1100px) {
    .text-size-1{
      font-size: 2.5rem;
    }
    .text-size-2{
      font-size: 1.5rem;
    }
    .text-size-3{
      font-size: 1rem;
    }
    .text-size-4{
      font-size: 0.9rem;
    }
    .text-size-5{
      font-size: 0.8rem;
    }
    .line-decorate div{
      width: 300px;
    }
    #InicioBanner{
      height: 450px;
    }
    .carousel-img{
      height: 450px;
    }
  }
  @media screen and (max-width: 900px) {
    #InicioBanner{
      height: 400px;
    }
    .carousel-img{
      height: 400px;
    }
    .text-size-4{
      font-size: 0.8rem;
    }
    #ProyectosUbicacion img,
    #ProyectosUbicacion iframe{
      height: 500px;
    }
    #ProyectosInfoFotos .foto{
      height: 300px;
    }
    #ProyectosInfoFotos img{
      height: 300px;
    }
  }
  @media screen and (max-width: 650px) {
    #Whatsapp img{
      width: 100px;
      height: 100px;
    }
    .carousel-dots{
      width: 10px;
      height: 10px;
    }
    .carousel-img{
      height: 300px;
    }

    #InicioBanner{
      height: 300px;
    }
    #InicioProyectos img{
      height: 300px;
    }
    #InicioEquipo img{
      height: 300px;
    }
    #InicioTestimonios label{
      text-align: justify;
    }
    #ProyectosInfoBanner .text-size-2{
      font-size: 2em;
      text-align: center;
    }
    #ProyectosInfoBanner iframe{
      height: 300px;
    }
    #ProyectosBeneficios .horizontal-col-3{
      grid-template-columns: repeat(2, 1fr);
    }
    #ProyectosUbicacion img,
    #ProyectosUbicacion iframe{
      height: 400px;
    }
    #ProyectosInfoFotos .foto{
      height: 250px;
    }
    #ProyectosInfoFotos img{
      height: 250px;
    }

    .text-size-1{
      font-size: 1.5rem;
    }
    .text-size-2{
      font-size: 1rem;
    }
    .line-decorate div{
      width: 200px;
    }
  }

  